@font-face {
   font-family: 'Shapiro-85-Super-Heavy-Extd';
   font-display: swap;
   src: url('Shapiro-85-Super-Heavy-Extd/font.ttf');
}
@font-face {
   font-family: 'Shapiro-45-Welter-Extd';
   font-display: swap;
   src: url('Shapiro-45-Welter-Extd/font.ttf');
}
