@font-face {
   font-family: 'Shapiro-45-Welter-Extd';
   font-display: swap;
   src: url('file:///C:/Users/Alejandro%20Bracho/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-04-03_011622/fonts/Shapiro-45-Welter-Extd/font.ttf');
}
